tr.clickable-row { cursor: pointer; }

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #6d7fcc;
    color: white;
}

.table-hover tbody tr:hover svg {
    fill: white;
}

.table > tbody > tr > td {
    vertical-align: middle;
}